/*------------Abdulrahman---------------*/
/*------------Burak---------------*/
/*------------Kaan---------------*/
/*------------Lobana---------------*/
.sizel{
	font-size: 3.5em;
	text-shadow: 2px 2px 4px #007bff;
}
.bgblack{
	background-color: black;
}
.slid-text-sh{
	text-shadow: 2px 3px 5px black !important;
	color: white !important;
}
.quarter{
	height: 50% !important;
	width: 50% !important;
	float: left;
}
.opacity40{
	opacity: 0%;
}
.borderbtm{
	border-bottom: 0.50em dotted #007bff !important;
	width: 1% !important;
	height: 1% !important;
}
.bordernone{
	border: none !important;
	background-color: #007bff !important;
}
.quarter:hover img{
	opacity: 20% !important;
}
.quarter:hover .opacity40{
	color: white;
	opacity: 100%;
}
img{
	height: 100% !important;
	width: 100% !important;
}
.coll{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
